body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1D2752 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: white !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 20px;
}
p{
  color: white;
  font-family: Open sans light;
}

img.icon{
  width: 50px;
}
.row {
  --bs-gutter-x: 0 !important;
}

/* menu */

nav.navbar.navbar-expand-lg.bg-body-tertiary {
  margin-left: auto;
  background-color: #202434 !important;
  margin-right: auto;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

a.nav-link {
      color: #ffffff !important;
      font-size: 18px;
  font-weight: 700;
}

a.nav-link:hover {
  color: #0592E1;
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
  color: #0592E1 !important;
}

a.nav-link.active {
  text-decoration: underline;
  color: #0592E1 !important;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

a.nav-link.active {
  color: #0592E1;
}
.navbar-toggler {
  background-color: #007bff !important;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0rem !important;
}
.navbar-expand-lg .navbar-nav{
  margin-left: auto !important;
}

a.navbar-brand {
  margin-left: 2%;
}
.navbar-expand-lg .navbar-nav{
  margin-right: 2%;
}

button.navbar-toggler {
  margin: 6%;
}

.navbar-collapse {
  margin-left: 10%;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {

padding-bottom: 2%;
padding-top: 2%;
}
.dropdown-menu[data-bs-popper] {
  left: -100px !important;
  text-align: center;
}
.dropdown-menu-dark {
  width: 2%;
}

/* Home */

@media (min-width: 992px){
  .col-lg-5#home {
      margin-top: 5% !important;
  }
  }
  .row.justify-content-md-center {
    background-color: #1D6ADE;
    animation: background-home 1s;
  }

  @media (min-width: 930px){
    h1{
 text-align: start;
 margin-bottom: 5% !important;
}
  }
  @media (max-width: 930px){
    h1{
 margin-bottom: 5% !important;
 margin-top: 5% !important;
}
  }
  @media (max-width: 930px){
  a.navbar-brand {
    margin-left: 2%;
    width: 55%;
}
  }
  
  img.img-champions  {
    animation: yasuo 2s;
  }

img.logo-page  {
  border: solid #fff;
  padding: 10px;
  border-radius: 16px;
  animation: logohome 2s;
  z-index: 1;
}



@media (max-width: 700px){
img.img-champions, img.logo-page {
  width: 65%  !important;
}
}

.niveaux {
  margin: 60px;
  width: 30%;
  background-color: #1d6ade;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  height: 210px ;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 3%;
}

.resulat {
  width: 30%;
  background-color: #1d6ade;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  margin-bottom: 2%;
  border: solid 1px #fff;
  border-width: 0px 5px 5px 0px;
}

@media (max-width: 1000px){
.resulat {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 50%;
  padding: 5%;
}
}

@media (max-width: 1000px){
  .niveaux {
    width: 45%;
    padding: 5%;
    height: 225px ;
  }
}

@media (max-width: 500px){
  .niveaux {
    width: 75%;
    padding: 5%;
    height: 200px;
  }

}

.border {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
  border-radius: 25px;
  margin-right: -20%;
  margin-bottom: -19%;
  padding: 10%;

}
@media (max-width: 1000px){
  .border {
margin-right: -20%;
padding: 9%;
margin-bottom: -30%;
}
}
@media (max-width: 700px){
  .border {
margin-right: -20%;
padding: 9%;
margin-bottom: -20%;
}
}

.btn-outline-primary {
  margin-top: 2%;
  --bs-btn-color: #ffffff !important;
  --bs-btn-border-color: #ffffff !important;
  margin-bottom: 2%;
}

.img-niveaux{
border-radius: 20px;
}
/* animation home*/

@keyframes background-home { 
  0% {
 
    margin: 100%;
  }

  100% {

    margin: 0%;
  }
}
  @keyframes yasuo { 
    0% {
      margin-left: 100%;
    }
  
    100% {
      margin-left: 0%;
    }
  }
  @keyframes logohome { 
    0% {
      
      margin-right: 100%;
    }
  
    100% {
      margin-right: 0%;
    }
  }

  .rank, .profile {
    margin-top: 5%;
    margin-bottom: 5%;
    
  }
/*  zabi */ 
.equipe{
  display: inline-flex;
  width: 60%;
}

img.equipe {
  height: auto;
  width: 50px;
  border-radius: 100%;
  border: solid #fff;
  margin:  5px;
}

.Victoire {
  
  border-radius: 10%;
  background-color: #3e9b8a;
  padding: 25px;
  margin: 15px;
  width: 60%;
}

.Défaite {
  
  border-radius: 10%;
  background-color: #00000082;
  padding: 25px;
  margin: 15px;
  width: 60%;
}


.equipe-card {
  border-top: 1px solid #fff ;
  display: inline-flex;

}



/* equipe-perso */

.Défaite-perso {
  background-color: #00000082;
  opacity: 65%;
  width: 450px;
  display: inline-block;
  border-radius: 35px;
  padding: 30px;
  text-align: start;
}
.Défaite-perso:hover {
  background-color: #00000082;
  opacity: 100%; 
}

.Victoire-perso:hover {
  background-color: #2d917eb8;
  opacity: 100%; 
}

.Victoire-perso {
  background-color: #2d917eb8;
  opacity: 75%; 
  width: 450px;
  display: inline-block;
  border-radius: 35px;
  padding: 30px;
  text-align: start;
}


img.perso-champion {
  float: right;
  border-radius: 16px;
  width: 31%;
  border: solid #fff;
}


.equipe-card-perso {
  text-align: start;
  margin: 15px;
}
img.object {
  width: 12%;
  border-radius: 5px;
  margin: 2px;
}

button.perso {
  margin-left: 42%;
  margin-right: 42%;
}
p#perso {
  font-weight: bold;
}

.particpantpuid {
  border: 1px solid #fff;
  margin-right: -75px;
}

h2#perso {
  text-align: center;
  padding: 5px;
  border: 1px solid;
  margin-right: -75px;
}

.mySlides {display:none;}

button.suivant {
  margin: 4px;
  border-radius: 100%;
  background-color: #ffffff00;
  border: 1px solid;
}
button.precedent {
  margin: 4px;
  border-radius: 100%;
  background-color: #ffffff00;
  border: 1px solid;
}
button.precedent:hover,button.suivant:hover {
  transition: 0.9s;
  border-radius: 100%;
  background-color: #007bff;
  border: none;
}